<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- add jimple toolbox commons preference page (under the toolbox commons preferences) -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.jimple.commons.ui.preferences.JimpleCommonsPreferencesPage"
            id="com.ensoftcorp.open.jimple.commons.ui.preferences"
            name="Jimple Toolbox Commons"
            category="com.ensoftcorp.open.commons.ui.preferences">
      </page>
   </extension>
   
   <!-- defines command handlers -->
   <extension point="org.eclipse.ui.handlers">
		<handler commandId="com.ensoftcorp.open.jimple.commons.handlers.jarToJimple"
				 class="com.ensoftcorp.open.jimple.commons.ui.handlers.JarToJimpleHandler">
		</handler>
	</extension>
	
	<!-- add some menu items for the command handlers -->
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
			<menu id="com.ensoftcorp.open.jimple.commons.explorer.menu" 
				  label="Jimple Toolbox" />
		</menuContribution>
		<menuContribution locationURI="popup:com.ensoftcorp.open.jimple.commons.explorer.menu?after=additions">
			<command commandId="com.ensoftcorp.open.jimple.commons.handlers.jarToJimple" 
					 icon="icons/jar.gif" 
					 label="Generate Jimple" 
					 style="push" />
		</menuContribution>
	</extension>
   
   <!-- extension for CFR Decompiler Correspondence view -->
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.ensoftcorp.open.commons.views.categories.toolbox"
            class="com.ensoftcorp.open.jimple.commons.ui.views.decompiler.CFRDecompilerCorrespondenceView"
            icon="icons/partial.gif"
            id="com.ensoftcorp.open.jimple.commons.ui.views.decompiler"
            name="CFR Decompiler Correspondence">
      </view>
   </extension>

</plugin>